.App-header {
  background-color: rgba(24, 24, 24, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0px;
  position: fixed; /* Fixed positioning */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.title {
  font-size: 40px;
  color: rgba(228, 9, 18, 255);
}
.toggleSidebar {
  width: 60px;
  background-color: rgba(24, 24, 24, 255);
  border-radius: 310px;
}
